body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.popover { 
  display: none;
  position: absolute;
  top: 18%;
  left: 110%;
  background-color: orange;
  width: 350px;
  z-index: 1;
  border-radius: 8px;
  padding: 4px;
}

.show-popover { display: block; }

.see-more { 
  display: block; 
  padding: 12px 18px; 
  border-radius: 8px; 
  color: white; 
  background-color: salmon; 
  margin-top: 8px
}